.navbar {
    background-color: white;
    padding: 16px;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  .nav-links a:visited {
    color: red;
  }
  
  .nav-toggle {
    display: none;
  }

    .nav-toggle {
      display: block;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
  }
  
  @media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-toggle:focus,
  .nav-links:hover {
      display: flex;
  }
  
  .nav-links li {
      margin: 10px 0;
  }
  }